<ion-header no-border>
  <ion-toolbar>
    <app-search-places></app-search-places>
  </ion-toolbar>
  <ion-chip color="secondary"
            mode="ios"
            (click)="openPopoverFiler()">
    <ion-icon name="checkmark-circle"></ion-icon>
    <ion-label>{{typeName}} - {{range}} m</ion-label>
    <ion-icon mode="ios"
              name="arrow-forward"></ion-icon>

  </ion-chip>
</ion-header>

<ion-content>
  <app-card-place [hidden]="!places"
                  [places]="places"></app-card-place>

  <div class="box"
       *ngIf="!places">
    <img class="img-info"
         src="assets/img/undraw_empty_xct9.svg"
         alt="">
    <p>
      Nada encontrado
    </p>
  </div>
</ion-content>