<ion-header no-border>
  <ion-toolbar>
    <ion-searchbar mode="ios"
                   placeholder="Explore"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <span class="text-title">O que você deseja encontrar Maria ?</span>
    </ion-col>
  </ion-row>
  <div class="scrolling-wrapper">
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p text-wrap
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p text-wrap
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p text-wrap
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>

    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p text-wrap
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>
  </div>

  <ion-row>
    <ion-col size="12">
      <span class="text-title">Roteiros que você criou</span>
    </ion-col>
  </ion-row>

  <div class="scrolling-wrapper">
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p text-wrap
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p text-wrap
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p text-wrap
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>

    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p text-wrap
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>
  </div>

  <ion-row>
      <ion-col size="12">
        <span class="text-title">Próximo a você</span>
      </ion-col>
    </ion-row>
  <app-card-place [places]="places"></app-card-place>

</ion-content>