ion-content {
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 20px;
}
ion-card {
  margin-left: unset;
  margin-right: unset;
  -webkit-margin-start: 16px;
  margin-inline-start: 16px;
  -webkit-margin-end: 27px;
  margin-inline-end: -6px;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  .card {
    display: inline-block;
    width: 140px;
  }
}
.text-title {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
}
.text-category {
  font-weight: 900;
  padding-left: 5px;
  word-wrap: break-word;
  text-align: center;
}

.icon-cat {
  background-color: var(--ion-color-white);
  background-size: cover;
  background-position: 100%;
  width: var(--image-width, 100%);
  height: var(--image-height, 80px);
  position: relative;
  opacity: 0.8;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
}

.user_ratings_total {
  position: relative;
  left: 50;
}

.img-info{
  text-align: center;
  width: var(--image-width, 90%);
  height: var(--image-height, 132px);
}
.box{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 236px;
  bottom: 0;
  margin: 0;
  right: -8px;
  padding: 0;
  z-index: 9980;
  list-style: none;
  text-align: center;
}

.button-load{
      text-transform: none;
      font-size: 16px;
}