<ion-header no-border>
  <ion-toolbar>
    <app-search-places></app-search-places>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [hidden]="networkType == 'none'">
  <ion-row>
    <ion-col size="12">
      <span class="text-title">O que você deseja encontrar Maria ?</span>
    </ion-col>
  </ion-row>
  <div class="scrolling-wrapper">
    <div class="card"
         *ngFor="let type of placeTypes">
      <ion-card mode="ios">
        <div>
          <ion-icon class="icon-cat"
                    mode="ios"
                    color="primary"
                    [name]="type.icon"></ion-icon>
        </div>
        <p class="ion-text-wrap"
           class="text-category">
          {{type.nome}}
        </p>
      </ion-card>
    </div>

    <div class="card" (click)="presentModal()">
      <ion-card mode="ios">
        <div>
          <ion-icon class="icon-cat"
                    mode="ios"
                    color="secondary"
                    name="arrow-dropright"></ion-icon>
        </div>
        <p class="ion-text-wrap"
           class="text-category">
          Ver Todos
        </p>
      </ion-card>
    </div>
  </div>

  <ion-row>
    <ion-col size="12">
      <span class="text-title">Roteiros que você criou</span>
    </ion-col>
  </ion-row>

  <div class="scrolling-wrapper">
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p class="ion-text-wrap"
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p class="ion-text-wrap"
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card mode="ios">
        <img src="assets/shapes.svg" />
        <p class="ion-text-wrap"
           class="text-category">
          Founded in 1829
        </p>
      </ion-card>
    </div>

    <div class="card">
      <ion-card mode="ios">
        <div>
          <ion-icon class="icon-cat"
                    mode="ios"
                    color="primary"
                    name="add-circle"></ion-icon>
        </div>
        <p class="ion-text-wrap"
           class="text-category">
          Novo Roteiro
        </p>
      </ion-card>
    </div>
  </div>

  <ion-row>
    <ion-col size="12">
      <span class="text-title">Próximo a você</span>
    </ion-col>
  </ion-row>
  <app-card-place [places]="places"></app-card-place>
</ion-grid>
  <div class="box" *ngIf="networkType == 'none'">
    <img   class="img-info" src="assets/img/undraw_insert_block_efyb.svg" alt="">
    <h1> <ion-text color="danger">Erro</ion-text> Você está offline</h1>
    <ion-button class="button-load"  (click)="ionViewDidEnter()" fill='clear' color="secondary"  >
      Tentar Novamente 
    </ion-button>
  </div>
</ion-content>