<ion-item lines="none"
          class="ion-text-center ion-text-wrap">
  <ion-icon name="trash"
            slot="end"
            (click)="deleteGuide()"></ion-icon>
  <ion-icon name="create"
            slot="end"
            (click)="routerUpdateGuide()"></ion-icon>
  {{title}}
</ion-item>
<ion-item lines="none">
  <ion-icon slot="start"
            name="calendar"
            mode="ios"></ion-icon>
  <p style="margin-left: auto;">Programação para {{guideService.formatDateFirestore(date) | date: 'dd MMM'}} às
    {{ guideService.formatDateFirestore(timeEnd) | date: 'HH:mm'}}</p>
</ion-item>
<ion-footer no-border>
  <div style="text-align: center;">
    <ion-button fill="clear"
                class="ion-text-center"
                style="text-transform: none;"
                (click)="routerNavegationDetail()">
      <ion-icon name="alert"
                slot="start"></ion-icon>
      Ver detalhes
    </ion-button>
  </div>
</ion-footer>