p {
  position: relative;
  font-size: 12px;
  top: 4px;
  position: relative;
  left: 33px;
}

ion-button {
  left: 27px;
  right: auto;
  position: absolute;
  top: -19px;
}

.button-right {
  position: absolute;
  left: auto;
  right: 86px;
}

