<ion-item lines="none"
          class="ion-text-center ion-text-wrap">
  <ion-icon name="trash"
            slot="end"
            (click)="deleteGuide()"></ion-icon>
  <ion-icon name="create"
            slot="end"
            (click)="routerUpdateGuide()"></ion-icon>
  {{title}}
</ion-item>
<ion-item lines="none">
  <ion-icon slot="start"
            name="calendar"
            mode="ios"
            style="height: 20px;
              width: 20px;
              margin: 0px;"></ion-icon>
  <p>Programação para {{date.toDate() | date: 'dd MMM'}} às {{timeStart.toDate() | date: 'HH:mm'}}</p>
</ion-item>
<ion-footer no-border
            style="height: 38px;">
  <div style="text-align: center;">
    <ion-button fill="clear"
                class="ion-text-center"
                style="text-transform: none;"
                (click)="routerNavegationDetail()">
      <ion-icon name="alert"
                slot="start"></ion-icon>
      Ver detalhes
    </ion-button>
  </div>
</ion-footer>