<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-button mode='ios'>
        <ion-icon slot="end"
                  name="close"
                  color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button mode='ios'
                  routerLink='/login'>
        <p class="button-login">Entrar</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon class="logo"
            name="logo-angular"></ion-icon>
  <h1 class="welcome-text">Bem-vindo(a) ao App.</h1>
  <ion-button expand="block"
              color="light"
              class="button-google"
              (click)="loginGoogle()"
              mode='ios'>
    <ion-icon class="icon-button"
              name="logo-google"
              mode='ios'></ion-icon>
    <p class="button-text-google"> Continuar com o Google </p>
  </ion-button>
  <ion-button expand="block"
              fill="outline"
              color="light"
              class="button-accout"
              routerLink='/create-login'>
    <p class="button-text-accout"> Criar uma Conta </p>
  </ion-button>

  <div class="button-option ion-activatable">
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    <p class="button-text-accout">Mais opções</p>
  </div>
</ion-content>