<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon slot="end"
                  name="arrow-back"
                  color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="text-style">Entrar</h1>
  <form action="">
    <div class="box-input">
      <ion-label position="stacked">ENDERECO DE EMAIL</ion-label>
      <ion-input></ion-input>
    </div>
    <div class="box-input">
      <ion-label position="stacked">SENHA</ion-label>
        <span class="show-password">Mostrar</span>
      <ion-input type="password"></ion-input>
    </div>
    <ion-fab vertical="bottom"
             horizontal="end"
             slot="fixed">
      <ion-fab-button color="light"
                      disabled="true">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>