<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink='/logged-out'>
        <ion-icon slot="end"
                  name="arrow-back"
                  color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="text-style">Entrar</h1>
  <form #f="ngForm">
    <div class="box-input">
      <ion-label position="stacked">ENDEREÇO DE EMAIL</ion-label>
      <ion-input type="text"
                 name="email"
                 required
                 [(ngModel)]="userModel.email"></ion-input>
    </div>
    <div class="box-input">
      <ion-label position="stacked">SENHA</ion-label>
      <span class="show-password"
            (click)="showPassword(input)">{{input.type == 'password' ? 'Mostrar' : 'Ocultar'}}</span>
      <ion-input #input
                 type="password"
                 name="password"
                 required
                 [(ngModel)]="userModel.password"></ion-input>
    </div>
    <ion-fab vertical="bottom"
             horizontal="end"
             slot="fixed">
      <ion-fab-button color="light"
                      [disabled]="!f.valid"
                      (click)="login()">
        <ion-icon name="arrow-forward"
                  mode='ios'></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>