.icon-favorite {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 15px;
    padding: 0;
    z-index: 9998;
    list-style: none;
    color: white;
    width: var(--image-width, 22px);
    height: var(--image-height, 40px);
  }
.icon-share {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 57px;
    padding: 0;
    z-index: 9998;
    list-style: none;
    color: white;
    width: var(--image-width, 22px);
    height: var(--image-height, 40px);
  }

  .icon-back{
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 5px;
    padding: 0;
    z-index: 9998;
    list-style: none;
    width: var(--image-width, 22px);
    height: var(--image-height, 40px);
  }