<ion-content>
  <ion-header no-border>
    <ion-toolbar>
      <div class="ion-no-padding ion-no-margin">
        <ion-icon name="heart-empty"
                  color="light"
                  mode="ios"
                  class="icon-favorite"></ion-icon>
        <ion-icon name="share"
                  color="light"
                  class="icon-share"></ion-icon>
        <ion-button fill='clear'
                    class="icon-back"
                    (click)="buttonBack()">
          <ion-icon name="arrow-back"
                    color="light"
                    class="icon-back"></ion-icon>
        </ion-button>
        <ion-slides pager="true"
                    style="height: 230px !important; width: 100% !important; ">
          <ion-slide *ngFor="let foto of place?.photos">
            <img src="{{foto?.getUrl()}}"
                 style="width: 100%; height: auto;">
            <ion-img *ngIf="foto === null"
                     src="assets/shapes.svg"></ion-img>
          </ion-slide>
        </ion-slides>

      </div>
    </ion-toolbar>
  </ion-header>

  <ion-card mode='ios'
            class="card">
    <ion-card-header>
      <ion-card-subtitle>{{place?.formatted_address}}</ion-card-subtitle>
      <ion-card-title>{{place?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ionic4-star-rating activeIcon="ios-star"
                          defaultIcon="ios-star-outline"
                          activeColor="#ffb400"
                          readonly="true"
                          [rating]="place?.rating"
                          defaultColor="#ffb400"
                          rating="5"
                          fontSize="22px">
      </ionic4-star-rating>
      <p> Total de Avaliações: {{place?.user_ratings_total}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card mode='ios'>
    <ion-card-content>
      <ion-item button
                detail
                href="{{place?.url}}">
        <ion-label>Localização</ion-label>
        <ion-icon slot="start"
                  mode="ios"
                  name="pin"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-label *ngIf="place?.formatted_phone_number">{{place?.formatted_phone_number}}</ion-label>
        <p *ngIf="!place?.formatted_phone_number">Telefone não informado</p>
        <ion-icon slot="start"
                  mode="ios"
                  name="call"></ion-icon>
      </ion-item>
      <ion-item button
                *ngIf="place?.opening_hours && place?.opening_hours?.open_now">
        <ion-label>Aberto</ion-label>
        <ion-icon slot="start"
                  mode="ios"
                  name="Home"></ion-icon>
      </ion-item>
      <ion-item button
                *ngIf="place?.opening_hours && !place?.opening_hours?.open_now">
        <ion-label>Fechado</ion-label>
        <ion-icon slot="start"
                  mode="ios"
                  name="Home"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-label>Dias de Abertura</ion-label>
        <ion-icon slot="start"
                  mode="ios"
                  name="calendar"></ion-icon>
      </ion-item>
      <ion-list *ngFor="let item of place?.opening_hours?.weekday_text">
        <ion-item style="text-align: right;">
          <p >{{item}}</p>
        </ion-item>
      </ion-list>


    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer mode="ios"
            no-border>
  <ion-toolbar>
    <ion-button mode="ios"
                color="secondary"
                expand="block">
      Click me
    </ion-button>
  </ion-toolbar>
</ion-footer>