<ion-card mode="ios">
  <img src="assets/shapes.svg" />
  <ion-card-header>
    <ion-card-subtitle>Destination</ion-card-subtitle>
    <ion-card-title>Madison, WI</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ionic4-star-rating activeIcon="ios-star"
                        defaultIcon="ios-star-outline"
                        activeColor="#ffb400"
                        readonly="true"
                        defaultColor="#ffb400"
                        readonly="false"
                        fontSize="22px">
    </ionic4-star-rating>
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
    Territory in 1836.
  </ion-card-content>
</ion-card>

<ion-card mode="ios">
  <div>
    <img src="assets/shapes.svg" />
  </div>
  <ion-card-header>
    <ion-card-subtitle>Destination</ion-card-subtitle>
    <ion-card-title>Madison, WI</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ionic4-star-rating activeIcon="ios-star"
                        defaultIcon="ios-star-outline"
                        activeColor="#ffb400"
                        defaultColor="#ffb400"
                        readonly="false"
                        fontSize="22px">
    </ionic4-star-rating>
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
    Territory in 1836.
  </ion-card-content>
</ion-card>
<ion-card mode="ios">
  <img src="assets/shapes.svg" />
  <ion-card-header>
    <ion-card-subtitle>Destination</ion-card-subtitle>
    <ion-card-title>Madison, WI</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ionic4-star-rating activeIcon="ios-star"
                        defaultIcon="ios-star-outline"
                        activeColor="#ffb400"
                        defaultColor="#ffb400"
                        readonly="false"
                        fontSize="22px">
    </ionic4-star-rating>
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
    Territory in 1836.
  </ion-card-content>
</ion-card>

<ion-card mode="ios">
  <img src="assets/shapes.svg" />
  <ion-card-header>
    <ion-card-subtitle>Destination</ion-card-subtitle>
    <ion-card-title>Madison, WI</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ionic4-star-rating activeIcon="ios-star"
                        defaultIcon="ios-star-outline"
                        activeColor="#ffb400"
                        defaultColor="#ffb400"
                        readonly="false"
                        fontSize="22px">
    </ionic4-star-rating>
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
    Territory in 1836.
  </ion-card-content>
</ion-card>