<ion-card mode="ios"
          *ngFor="let place of places">
  <!-- <div class="ion-no-padding ion-no-margin">
    <ion-icon name="heart-empty"
              color="primary"
              mode="ios"
              class="icon-favorite"></ion-icon>
            </div> -->
  <app-animated-favorite class="icon-favorite"></app-animated-favorite>
  <img style="width: 100%; height: 200pt; object-fit: cover;"
       [defaultImage]="defaultImage"
       [lazyLoad]="getImagens(place.photos)" />
  <ion-card-header (click)="forward(place)">
    <ion-card-subtitle>{{place.vicinity}}</ion-card-subtitle>
    <ion-card-title>{{place.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ionic4-star-rating activeIcon="ios-star"
                        defaultIcon="ios-star-outline"
                        activeColor="#ffb400"
                        readonly="true"
                        defaultColor="#ffb400"
                        [rating]="place.rating"
                        fontSize="22px">
    </ionic4-star-rating>
  </ion-card-content>
</ion-card>