<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="buttonBack()">
        <ion-icon slot="start"
                  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="category-text">Categorias</h1>
  <ion-list mode="ios"
            *ngFor="let category of categorys"
            lines="lines">
    <ion-item mode="ios"
              [routerLink]="['/place-list']"
              [queryParams]="{ category: category.type, name: category.name}">
      <ion-label class="ion-text-wrap"
                 mode="ios">{{category.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>