<ion-header no-border>
  <ion-toolbar>
    <ion-title>Roteiros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="timeline">
    <div class="container" *ngFor="let guide of guides">
      <div class="timeline-item">
        <ion-avatar>
          <img class="timeline-img"
               [lazyLoad]="img" />
        </ion-avatar>
        <div class="timeline-content timeline-card js--fadeInRight">
          <p class="title-card">{{guide.title}}</p>
          <div class="date">{{guide.date.toDate() | date: 'dd MMMM'}} às {{guide.timeStart.toDate() | date: 'HH:mm'}}</div>
          <div class="reviwes-start">
            <ionic4-star-rating activeIcon="ios-star"
                                defaultIcon="ios-star-outline"
                                activeColor="#ffb400"
                                readonly="true"
                                defaultColor="#ffb400"
                                [rating]="guide.rating"
                                fontSize="12px">
            </ionic4-star-rating>
          </div>
          <p class="ion-text-wrap">{{guide.anotation}}</p>
          <ion-button class="btn-more"
                      color="secondary"
                      fill="clear">
            Ver mais
          </ion-button>
        </div>
      </div>
    </div>
  </section>
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button (click)="routerAddGuide()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>