.text-card-title{
  padding-top: 5px;
  font-size: 16px;
  font-weight: 800;
}

.text-card-place{
  padding-top: 3px;
  font-size: 14px;
}
.reviwes-start {
  position: relative;
  text-align: right;
  right: 43px;
  left: auto;
  top: -20px;
  
}

.box{
  width: 70%;
  height: 100%;
  bottom: 0;
  margin: 0;
  right: -8px;
  padding: 0;
  z-index: 9980;
  list-style: none;
}