$primary: #00868b;
$dark-primary: #00868b;
$light-primary: #c5cae9;
$text: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #ff4081;

.category-text {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: none;
  margin-left: 30px;
}
.btn-more {
  text-transform: none;
  position: relative;
  left: 15px;
}

.reviwes {
  padding: 0;
  position: relative;
  left: 100px;
  top: 41px;
}

.reviwes-start {
  padding-left: 20px;
}

section {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
}

ion-content {
  overflow-x: hidden;
}

ion-content {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

header {
  background: $primary;
  color: $text;
  padding: 150px 0;

  p {
    font-family: "Allura";
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
    font-size: 60px;
    margin-top: -30px;
  }
}

.timeline {
  position: relative;

  &::before {
    content: "";
    background: $light-primary;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {
    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .date {
        right: auto;
        left: 0;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 19px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-img {
  width: 35px;
  height: 35px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -18px;
}

a {
  background: $primary;
  color: $text;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);

  &:hover,
  &:active,
  &:focus {
    background: darken($primary, 10%);
    color: $text;
    text-decoration: none;
  }
}

.timeline-card {
  padding: 0 !important;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.timeline-item {
  .timeline-img-header {
    object-fit: cover;
    background-size: cover;
  }
}

.timeline-img-header {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 20px;
  margin-bottom: -43px;

  h2 {
    color: $text;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  img{
    border-radius: 19px;
  }
}

.date {
  background: var(--ion-color-primary);
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline {
    &::before {
      left: 50px;
    }

    .timeline-img {
      left: 50px;
    }

    .timeline-content {
      max-width: 100%;
      width: 75%;
      margin-left: 70px;
    }

    .timeline-item {
      &:nth-child(even) {
        .timeline-content {
          float: none;
        }
      }
    }
  }
}
