<ion-header no-border>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <ion-avatar *ngIf="user?.photoURL"  class="photo">
        <img [src]="user?.photoURL">
      </ion-avatar> 
      <ion-avatar  *ngIf="!user?.photoURL" class="photo">
        <img  src="assets/img/user.png">
      </ion-avatar> 
  <ion-list>
    <div class="">
      <ion-item>
        <ion-icon name="contact" mode="ios" slot="start"></ion-icon>
        <ion-label>{{user?.displayName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" mode="ios" slot="start"></ion-icon>
        <ion-label>{{user?.email}}</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
          <ion-icon name="log-out"  slot="start"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
    </div>
  </ion-list>
</ion-content>
