<ion-header no-border>
  <ion-toolbar>
    <ion-title>Adicionar roteiro</ion-title>
    <ion-buttons slot="end">
      <ion-button style="text-transform: none"
                  (click)="createGuide()"
                  [disabled]="!f.form.valid">
        Salvar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button style="text-transform: none"
                  [routerLink]="[ '/tabs/tab3']"
                  (click)="f.reset()">
        <ion-icon slot="start"
                  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <form #f="ngForm">
    <!--Título-->
    <ion-item lines="inset">
      <ion-label position="floating">Título</ion-label>
      <ion-input name="title"
                 required
                 [(ngModel)]="guide.title"></ion-input>
    </ion-item>

    <!--Local Seleciondo-->
    <ion-item lines="inset"
              [routerLink]="[ '/place-list']"
              [queryParams]="{ validRoute: 'valid'}"
              routerDirection="forward">
      <ion-label position="floating">Local</ion-label>
      <ion-input name="place"
                 class="ion-text-wrap"
                 required
                 [(ngModel)]="guide.place"></ion-input>
    </ion-item>

    <!--Data do roteiro-->
    <ion-item lines="inset"
              (click)="getDate()">
      <ion-label position="floating">Data</ion-label>
      <ion-icon name="arrow-dropdown"
                color="dark"
                slot="end"
                style="position: relative;top: 10px;left: 15px; opacity: 0.5;"></ion-icon>
      <ion-input name="date"
                 required
                 [value]="guide.date | date: 'dd MMMM'"></ion-input>
    </ion-item>
    <ion-row>
      <!--Hora de entrada do roteiro-->
      <ion-col size="6"
               (click)="getTimeStart()">
        <ion-item lines="inset">
          <ion-label position="floating">Início</ion-label>
          <ion-icon name="arrow-dropdown"
                    color="dark"
                    slot="end"
                    style="position: relative;top: 10px;left: 20px; opacity: 0.5;"></ion-icon>
          <ion-input name="timestart"
                     required
                     [value]="guide.timeStart | date: 'HH:mm'"></ion-input>
        </ion-item>
      </ion-col>

      <!--Hora de saída do roteiro-->
      <ion-col size="6">
        <ion-item lines="inset"
                  (click)="getTimeEnd()">
          <ion-label position="floating">Fim</ion-label>
          <ion-icon name="arrow-dropdown"
                    color="dark"
                    slot="end"
                    style="position: relative;top: 10px;left: 20px; opacity: 0.5;"></ion-icon>
          <ion-input name="timeend"
                     required
                     [value]="guide.timeEnd  | date: 'HH:mm'"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!--Anotações do roteiro-->
    <ion-item lines="inset">
      <ion-label position="floating">Anotações</ion-label>
      <ion-input name="anotation"
                 [(ngModel)]="guide.anotation"></ion-input>
    </ion-item>
  </form>
</ion-content>